.App {
  text-align: center;
  background-image: url('./images/bg-img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:100vh;
  min-height: 100vh;
  overflow: auto;
}

